body {
  font-family: "Montserrat", sans-serif;
  position: relative; }

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden; }
  .home__logo-frame {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 1000;
    top: 10%; }
  .home__logo {
    max-width: 110%;
    height: auto;
    margin: 0 auto;
    display: block; }
  .home__row {
    display: flex;
    justify-content: space-between;
    height: 100%;
    position: relative; }
  .home__col {
    height: auto;
    width: 43.33%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(16deg);
    margin-top: -20%;
    margin-bottom: -20%;
    overflow: hidden; }
    .home__col:hover .home__link-box {
      transform: matrix(1.06, -0.3, 0.3, 1.06, 0, 0); }
    .home__col:hover::before {
      opacity: 0; }
    .home__col::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -7px;
      right: -7px;
      display: block;
      background-color: #000000;
      z-index: 1;
      transition: 0.5s;
      opacity: 0.7; }
  .home__col--left {
    margin-left: -10%;
    z-index: 2; }
  .home__col--middle {
    width: 33.33%;
    z-index: 1; }
  .home__col--right {
    margin-right: -10%;
    z-index: 2; }
  .home__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -7px;
    right: -7px;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    z-index: 0;
    transform: rotate(-16deg);
    background-size: contain; }
  .home__background--left {
    background-image: url("../img/e-sklep-background.png");
    right: -23%; }
  .home__background--middle {
    background-image: url("../img/o-firmie-background.png");
    right: -28%;
    left: -23%; }
  .home__background--right {
    background-image: url("../img/b2b-background.png");
    left: -23%;
    background-position: 130% 0%;
    right: -100px; }
  .home__title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 24px;
    text-align: center; }
  .home__link-box {
    position: absolute;
    z-index: 1;
    transition: 0.5s;
    transform: matrix(0.96, -0.28, 0.28, 0.96, 0, 0); }
  .home__link-btn {
    border: 1px solid #ffffff;
    background-color: #00000093;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.5s;
    padding: 13px 30px;
    color: #ffffff; }
    .home__link-btn:hover {
      background: #ed1c24;
      color: #ffffff; }
    .home__link-btn:hover .home__carret {
      color: #fff; }
  .home__carret {
    color: #ed1c24;
    font-size: 13px;
    font-weight: 400;
    margin-left: 7px;
    transition: 0.5s; }
  .home__bottom-bar {
    background: #000000;
    padding: 30px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1000; }
  .home__sociallink-box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; }
  .home__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .home__social-link {
    background: #ffffff;
    margin: 0 9px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    position: relative;
    color: #000000;
    transition: 0.5s; }
    .home__social-link:hover {
      color: #000000;
      transform: scale(1.2); }
  .home__text {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400; }

/*# sourceMappingURL=index.css.map */
