body {
  font-family: "Montserrat", sans-serif;
  position: relative; }

.home {
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
  overflow: hidden; }
  .home__logo-frame {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 1000;
    top: 10%; }
  .home__logo {
    max-width: 110%;
    height: auto;
    margin: 0 auto;
    display: block; }
  .home__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    height: 100%;
    position: relative; }
  .home__col {
    height: auto;
    width: 43.33%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    transform: rotate(16deg);
    margin-top: -20%;
    margin-bottom: -20%;
    overflow: hidden; }
    .home__col:hover .home__link-box {
      transform: matrix(1.06, -0.3, 0.3, 1.06, 0, 0); }
    .home__col:hover::before {
      opacity: 0; }
    .home__col::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -7px;
      right: -7px;
      display: block;
      background-color: #000000;
      z-index: 1;
      transition: 0.5s;
      opacity: 0.7; }
  .home__col--left {
    margin-left: -10%;
    z-index: 2; }
  .home__col--middle {
    width: 33.33%;
    z-index: 1; }
  .home__col--right {
    margin-right: -10%;
    z-index: 2; }
  .home__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -7px;
    right: -7px;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    z-index: 0;
    transform: rotate(-16deg);
    background-size: contain; }
  .home__background--left {
    background-image: url("../img/e-sklep-background.png");
    right: -23%; }
  .home__background--middle {
    background-image: url("../img/o-firmie-background.png");
    right: -28%;
    left: -23%; }
  .home__background--right {
    background-image: url("../img/b2b-background.png");
    left: -23%;
    background-position: 130% 0%;
    right: -100px; }
  .home__title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 24px;
    text-align: center; }
  .home__link-box {
    position: absolute;
    z-index: 1;
    transition: 0.5s;
    transform: matrix(0.96, -0.28, 0.28, 0.96, 0, 0); }
  .home__link-btn {
    border: 1px solid #ffffff;
    background-color: #00000093;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.5s;
    padding: 13px 30px;
    color: #ffffff; }
    .home__link-btn:hover {
      background: #ed1c24;
      color: #ffffff; }
    .home__link-btn:hover .home__carret {
      color: #fff; }
  .home__carret {
    color: #ed1c24;
    font-size: 13px;
    font-weight: 400;
    margin-left: 7px;
    transition: 0.5s; }
  .home__bottom-bar {
    background: #000000;
    padding: 30px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1000; }
  .home__sociallink-box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: -ms-flexbox;
    display: flex; }
  .home__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .home__social-link {
    background: #ffffff;
    margin: 0 9px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    position: relative;
    color: #000000;
    transition: 0.5s; }
    .home__social-link:hover {
      color: #000000;
      transform: scale(1.2); }
  .home__text {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400; }

.main-header .navbar .navbar-toggler {
  z-index: 1000000000;
  color: #fff;
  margin: 25px 0; }
.main-header .navbar-brand {
  margin: 10px 0; }
.main-header .navbar-brand--mobile {
  margin-right: auto;
  display: none; }
.main-header__close-menu-area {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: -1000px;
  left: 0;
  right: 0; }
.main-header .navbar {
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  box-shadow: none;
  background-color: transparent;
  z-index: 100000;
  padding: 0; }
.main-header__navbar-left {
  width: 30%;
  height: 100%;
  padding-left: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
.main-header__navbar-right {
  width: 70%;
  background-color: #0000007e;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  z-index: 3; }
.main-header__logo {
  max-width: 100%;
  height: auto; }
.main-header .carousel {
  height: 560px; }
.main-header .carousel-inner {
  height: 100%; }
.main-header .carousel-item {
  height: 100%; }
.main-header .carousel-item.active {
  display: -ms-flexbox;
  display: flex; }
.main-header .carousel-item-left,
.main-header .carousel-item-next,
.main-header .carousel-item-right {
  display: -ms-flexbox;
  display: flex; }
.main-header .nav-link {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px; }
.main-header .navbar-nav {
  margin-right: 50px; }
.main-header .collapse {
  -ms-flex-pack: distribute;
      justify-content: space-around; }
.main-header__slide-header {
  display: -ms-flexbox;
  display: flex;
  padding-top: 130px;
  -ms-flex-align: start;
      align-items: flex-start;
  width: 30%; }
.main-header__content-box {
  position: relative;
  z-index: 1001;
  background: #ed1c24; }
.main-header__content-layer {
  margin-right: -234px;
  padding: 50px 15px 50px 100px;
  background: #ed1c23b9; }
.main-header__slide-img {
  width: 70%;
  background-size: cover;
  background-repeat: no-repeat; }
.main-header__separator {
  color: #ed1c24;
  margin: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
.main-header__dropdown-box {
  position: relative; }
.main-header__lang-btn {
  border: none;
  background: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0; }
  .main-header__lang-btn::after {
    display: none; }
  .main-header__lang-btn:hover .main-header__lang-btn-part {
    background-color: #00000081; }
.main-header__lang-btn-part {
  height: 46px;
  width: 46px;
  background: #ed1c24;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #ed1c24;
  transition: 0.5s; }
.main-header__caret {
  background: url("../img/dropdown-arrow.png") no-repeat center;
  background-size: cover;
  width: 12px;
  height: 6px;
  display: block;
  margin-left: 11px; }
.main-header .dropdown-menu {
  left: 0px;
  min-width: unset;
  width: 46px;
  padding: 0;
  border: none;
  border-radius: 0;
  background: transparent; }
.main-header .dropdown-menu .dropdown-item {
  height: 46px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border: 1px solid #ed1c24;
  background: #ed1c24; }
  .main-header .dropdown-menu .dropdown-item:hover {
    background-color: #f0484e; }
.main-header__link-btn {
  width: 162px;
  height: 46px;
  background: #ed1c24;
  color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-left: 40px;
  border: 1px solid #ed1c24;
  transition: 0.5s; }
  .main-header__link-btn:hover {
    background-color: #00000081;
    color: #ffffff; }
.main-header__btn-box {
  display: -ms-flexbox;
  display: flex;
  margin-left: auto; }
.main-header__down-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  width: 12px;
  height: 6px;
  background: url("../img/dropdown-arrow.png") no-repeat center;
  transform: translateY(-50%); }
.main-header__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0; }
.main-header__title--dark {
  color: #000000; }
.main-header__title--light {
  color: #ffffff; }
.main-header__paragraph {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400; }
.main-header .carousel-control-prev,
.main-header .carousel-control-next {
  border: 1px solid #000000;
  height: 44px;
  width: 44px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  bottom: 45px;
  opacity: 1;
  background: #fff; }
.main-header__slider-arrow--left {
  transform: rotate(-180deg); }
.main-header .carousel-control-prev {
  top: unset;
  left: 190px;
  right: unset; }
.main-header .carousel-control-next {
  top: unset;
  left: 250px;
  right: unset; }

.standard-link-btn {
  width: 140px;
  height: 44px;
  border: 1px solid #ffffff;
  background: #00000093;
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  color: #ffffff;
  z-index: 1; }
  .standard-link-btn__arrow {
    color: #ed1c24;
    margin-left: 7px;
    transition: 0.5s; }
  .standard-link-btn:hover {
    color: #ffffff;
    background: #ed1c24; }
  .standard-link-btn:hover .standard-link-btn__arrow {
    color: #ffffff; }

.standard-link-btn--slider {
  background: transparent; }
  .standard-link-btn--slider .standard-link-btn__arrow {
    color: #000000; }
  .standard-link-btn--slider:hover {
    background: #00000093; }
  .standard-link-btn--slider:hover .standard-link-btn__arrow {
    color: #ed1c24; }

.standard-one {
  margin: 50px 0; }
  .standard-one__img {
    max-width: 100%;
    height: auto; }
  .standard-one__col-right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding-left: 40px;
    background: url("../img/watermark.png") no-repeat center;
    background-size: contain; }
  .standard-one__col-left {
    padding-right: 40px; }

.title-and-text__title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px; }
  .title-and-text__title::before {
    width: 11px;
    height: 41px;
    background: #ed1c24;
    content: "";
    display: inline-block;
    margin-right: 12px; }
.title-and-text__text {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400; }

.standard-title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px; }
  .standard-title::before {
    width: 11px;
    height: 41px;
    background: #ed1c24;
    content: "";
    display: inline-block;
    margin-right: 12px; }

.standard-title--tiles {
  text-align: center;
  margin-bottom: 50px; }

.standard-title--listing {
  margin: 0; }

.tiles__col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
.tiles__cell-small {
  width: 49%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 241px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }
.tiles__cell-small--top:nth-child(2) {
  margin-left: 1%; }
.tiles__cell-small--top:nth-child(1) {
  margin-right: 1%; }
.tiles__cell-small--bottom:nth-child(2) {
  margin-right: 1%; }
.tiles__cell-small--bottom:nth-child(3) {
  margin-left: 1%; }
.tiles__cell-big {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 522px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }
.tiles__cell-big--bottom {
  margin-top: 2%; }
.tiles__cell-big--top {
  margin-bottom: 2%;
  position: relative; }
  .tiles__cell-big--top::before {
    background-color: #ff0000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    position: absolute;
    content: "";
    opacity: 0.5;
    z-index: 0; }
.tiles__date {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  z-index: 1; }
.tiles__title {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  z-index: 1;
  margin-bottom: 20px; }
.tiles__text {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 60%;
  z-index: 1;
  margin-bottom: 20px; }

.main-footer {
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
  font-weight: 400; }
  .main-footer__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .main-footer__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .main-footer__data-col {
    width: 35%; }
  .main-footer__img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; }
  .main-footer__data-col:last-child {
    padding-right: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .main-footer__company-name {
    font-weight: 700; }
  .main-footer__links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .main-footer__data-name {
    color: #ed1c24;
    font-weight: 700; }
  .main-footer__social-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 30px; }
  .main-footer__social-link {
    width: 29px;
    height: 29px;
    background: #000000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    border-radius: 50%;
    color: #ffffff;
    border: 1.5px solid #000; }
    .main-footer__social-link:hover {
      color: #000000;
      background: transparent; }
  .main-footer__links-box {
    text-align: center; }
  .main-footer__link {
    color: #000000; }
    .main-footer__link:hover {
      color: #ed1c24; }
  .main-footer__copyright-bar {
    background-color: #000000;
    margin-top: 40px;
    padding: 40px 0; }
  .main-footer__copyrights-text {
    color: #838383; }
  .main-footer__separator {
    color: #ed1c24;
    margin: 0 5px; }
  .main-footer__bold {
    font-weight: 700;
    color: #ffffff; }
  .main-footer__author-link {
    font-weight: 700;
    color: #ffffff;
    transition: 0.3s; }
    .main-footer__author-link:hover {
      color: #ed1c24; }

.shop-header__close-area {
  display: none;
  position: absolute;
  z-index: 2;
  top: -100px;
  bottom: -1000px;
  left: 0;
  right: 0; }
.shop-header__btn-box {
  position: absolute;
  top: 0;
  right: 23px;
  display: -ms-flexbox;
  display: flex; }
.shop-header__cart-box {
  padding: 7px 10px;
  background: #ed1c24;
  color: #fff;
  margin-right: 14px; }
.shop-header__icon {
  margin-right: 10px; }
.shop-header__lang-box {
  position: relative; }
.shop-header__lang-dropdown {
  padding: 7px 10px;
  border: none;
  background-color: #efefef;
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
  line-height: 24px;
  font-weight: 400; }
  .shop-header__lang-dropdown:hover {
    color: #080808; }
  .shop-header__lang-dropdown::after {
    display: none; }
.shop-header__top-link {
  text-transform: uppercase;
  font-size: 12px;
  color: #000000;
  font-weight: 400; }
  .shop-header__top-link:hover {
    color: #080808; }
.shop-header__cart-link {
  color: #ffffff;
  font-size: 12px; }
.shop-header__login-box {
  background-color: #efefef;
  padding: 7px 10px;
  margin-right: 14px; }
.shop-header .navbar {
  box-shadow: none;
  height: 90px;
  padding-top: 0px;
  padding-bottom: 0;
  position: relative;
  z-index: 3; }
.shop-header__navbar-container {
  position: relative;
  height: 100%;
  -ms-flex-align: end !important;
      align-items: flex-end !important; }
.shop-header .navbar-nav {
  margin-left: auto; }
.shop-header .nav-link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: #000000; }
  .shop-header .nav-link:hover {
    color: #080808; }
.shop-header__separator {
  color: #ed1c24;
  margin: 0 8px;
  padding: 8px 0;
  font-size: 12px; }
.shop-header__carousel-box {
  height: 432px;
  position: relative;
  margin-top: 20px; }
  .shop-header__carousel-box::before {
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 20px;
    background: #ed1c24;
    opacity: 0.7;
    position: absolute;
    z-index: 100; }
.shop-header .carousel,
.shop-header .carousel-inner {
  height: 100%; }
.shop-header .carousel-item {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background-position: 130% 50%;
  background-repeat: no-repeat;
  position: relative; }
.shop-header__title-box {
  width: 400px; }
.shop-header__title {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  margin: 0; }
.shop-header__title--second {
  color: #ed1c24;
  margin-bottom: 40px; }
.shop-header__text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 40px; }
.shop-header__slider-link {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ed1c24;
  display: inline-block;
  border: 1px solid #ed1c24;
  padding: 10px 20px; }
  .shop-header__slider-link:hover {
    background: #ed1c24;
    color: #fff; }
.shop-header .carousel-control-next,
.shop-header .carousel-control-prev {
  width: 42px;
  height: 44px;
  background-color: #000000;
  opacity: 0.8;
  bottom: 25px;
  top: unset;
  left: unset; }
.shop-header .carousel-control-prev {
  right: 20%; }
.shop-header .carousel-control-next {
  transform: rotate(180deg);
  right: 16%; }
.shop-header__slide-img {
  position: absolute;
  height: 100%;
  right: 0;
  width: 60%;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat; }

.benefits {
  padding: 80px 0; }
  .benefits__row {
    display: -ms-flexbox;
    display: flex; }
  .benefits__icon {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block; }
  .benefits__icon-frame {
    height: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
        align-items: flex-end; }
  .benefits__col {
    width: 18%;
    text-align: center;
    margin: 0 1%; }
  .benefits__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    margin-top: 40px; }
  .benefits__text {
    font-weight: 400;
    font-size: 11px; }

.tiles-second {
  padding: 40px 0; }
  .tiles-second__cell {
    padding: 25px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: end;
        justify-content: flex-end;
    transition: 0.5s; }
    .tiles-second__cell:hover {
      transform: scale(1.03); }
  .tiles-second__cell--top-small {
    height: 200px;
    margin-bottom: 30px; }
  .tiles-second__cell--title-cell {
    height: 200px;
    margin-bottom: 30px;
    display: block;
    padding: 0; }
    .tiles-second__cell--title-cell:hover {
      transform: unset; }
  .tiles-second__cell--big {
    height: 450px; }
  .tiles-second__cell--big-middle {
    height: 450px;
    display: block;
    background-position: center; }
  .tiles-second__cell--bottom-small {
    height: 200px;
    margin-top: 30px;
    background: #ed1c24;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 30px; }
  .tiles-second__title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff; }
  .tiles-second__title--center {
    text-align: center; }
  .tiles-second__text {
    margin: 0;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400; }
  .tiles-second__title--big {
    font-size: 39px;
    font-weight: 700;
    color: #ed1c24;
    width: 57%; }
  .tiles-second__text--big {
    color: #000000;
    font-size: 23px;
    width: 57%; }
  .tiles-second__link {
    border: 1px solid #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
    width: 140px;
    height: 44px;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    margin: 0 auto;
    transition: 0.5s; }
    .tiles-second__link:hover {
      background: #ffffff;
      color: #ed1c24; }

.news {
  padding: 40px 0; }
  .news__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .news__more-btn {
    width: 573px;
    height: 44px;
    border: 1px solid #ed1c24;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    color: #ed1c24;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    transition: 0.5s;
    margin: 40px auto 0 auto; }
    .news__more-btn:hover {
      background: #ed1c24;
      color: #fff; }

.product-cell {
  width: 23%;
  margin: 1%;
  transition: 0.5s; }
  .product-cell:hover {
    transform: scale(1.02); }
  .product-cell__img {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block; }
  .product-cell__desc-box {
    padding: 20px; }
  .product-cell__title {
    color: #ed1c24;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1; }
    .product-cell__title:hover {
      color: #ed1c24; }
  .product-cell__text {
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    margin-bottom: 10px; }
  .product-cell__bottom-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .product-cell__price-box {
    display: -ms-flexbox;
    display: flex;
    font-family: "Roboto", sans-serif; }
  .product-cell__price {
    color: #ed1c24;
    font-weight: 400; }
  .product-cell__main-value {
    font-size: 36px; }
  .product-cell__fraction {
    font-size: 24px; }
  .product-cell__currency {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin-left: 7px; }
  .product-cell__icon {
    width: 17px;
    height: 17px;
    transition: 0.2s; }
  .product-cell__icon--search {
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(87deg) brightness(106%) contrast(104%); }
  .product-cell__icon--add {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(68deg) brightness(102%) contrast(104%); }
  .product-cell__btn {
    width: 49px;
    height: 44px;
    border: none;
    transition: 0.4s; }
  .product-cell__btn--search {
    margin-right: 6px;
    background-color: #efefef; }
    .product-cell__btn--search:hover {
      background: #ed1c24; }
    .product-cell__btn--search:hover .product-cell__icon--search {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(68deg) brightness(102%) contrast(104%); }
  .product-cell__btn--add {
    background-color: #ed1c24;
    border: 1.5px solid #ed1c24; }
    .product-cell__btn--add:hover .product-cell__icon--add {
      filter: invert(13%) sepia(99%) saturate(5163%) hue-rotate(353deg) brightness(99%) contrast(88%);
      transform: rotate(360deg); }
    .product-cell__btn--add:hover {
      background: transparent; }
  .product-cell__hidden-price-info {
    color: #c0c0c0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400; }

.realizations {
  padding: 40px 0; }
  .realizations__title {
    font-size: 134px;
    font-style: italic;
    color: #ed1c24;
    margin-bottom: -38px;
    font-weight: 400; }
  .realizations .owl-nav {
    position: relative; }
  .realizations .owl-carousel .owl-nav .owl-next,
  .realizations .owl-carousel .owl-nav .owl-prev {
    width: 42px;
    height: 44px;
    background-color: #000000;
    opacity: 0.7;
    margin-top: -100px;
    background-position: center;
    background-repeat: no-repeat; }
  .realizations .owl-prev {
    left: 0;
    position: absolute;
    background-image: url("../img/carousel-arrow.png") !important; }
  .realizations .owl-next {
    right: 0;
    position: absolute;
    background-image: url("../img/carousel-arrow-right.png") !important; }

.realization-cell {
  position: relative;
  height: 360px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .realization-cell__layer {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: #0000007c;
    position: absolute;
    transition: 0.5s;
    padding: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    text-align: center; }
    .realization-cell__layer:hover {
      opacity: 1; }
  .realization-cell__title {
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    position: relative;
    z-index: 3; }
  .realization-cell__text {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    z-index: 3; }
  .realization-cell__link-btn {
    width: 49px;
    height: 44px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    background: #ed1c24;
    margin: 40px auto 0 auto;
    transition: 0.5s;
    border: 1px solid #ed1c24; }
    .realization-cell__link-btn:hover {
      background: #0000008f; }
  .realization-cell__icon {
    width: 19px !important;
    height: 19px; }

.listing {
  padding: 50px 0; }
  .listing__sort-bar {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px; }
  .listing__select-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .listing__select-box:first-child {
    margin-right: 20px; }
  .listing__select-container {
    display: -ms-flexbox;
    display: flex;
    margin-left: auto; }
  .listing .caret {
    display: none; }
  .listing .select-wrapper,
  .listing .select-dropdown {
    margin: 0 !important; }
  .listing .select-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .listing .select-wrapper::before {
      content: "";
      top: 50%;
      right: 10px;
      width: 12px;
      height: 7px;
      background: url("../img/select-arrow.png") no-repeat center;
      position: absolute;
      z-index: 100;
      transform: translateY(-50%); }
  .listing .select-wrapper input.select-dropdown {
    border: none;
    background-color: #efefef;
    padding-left: 10px;
    width: 148px;
    font-size: 14px; }
  .listing__select-desc {
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin-right: 10px; }
  .listing__pagination-bar {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px; }
  .listing .pagination {
    margin-left: auto; }
  .listing .pagination .active {
    background: transparent;
    border-color: #ed1c24; }
    .listing .pagination .active .page-link {
      background: transparent !important;
      color: #ed1c24; }
  .listing .page-item {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #000 !important;
    display: -ms-flexbox;
    display: flex;
    margin: 0 5px;
    border: 1px solid transparent; }
  .listing .page-link {
    padding: 0;
    width: 23px;
    height: 23px;
    font-size: 14px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
  .listing .page-item:first-child {
    width: auto;
    height: auto; }
    .listing .page-item:first-child .page-link {
      height: auto;
      width: auto;
      padding: 0 10px; }
  .listing .page-item:last-child {
    width: auto;
    height: auto; }
    .listing .page-item:last-child .page-link {
      height: auto;
      width: auto;
      padding: 0 10px; }
  .listing__results {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 50px; }
  .listing__render-area {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .listing .product-cell {
    width: 31.33%; }

.search-form {
  padding: 30px 0;
  background-color: #efefef;
  font-family: "Roboto", sans-serif; }
  .search-form__title {
    color: #ed1c24;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase; }
  .search-form__search-input {
    padding: 4px 15px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 11px; }
  .search-form__search-input:-ms-input-placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    color: #898989;
    font-weight: 400; }
  .search-form__search-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    color: #898989;
    font-weight: 400; }
  .search-form__category {
    padding: 10px 30px 15px 30px;
    position: relative; }
    .search-form__category::before {
      content: "";
      width: 61px;
      height: 2px;
      display: block;
      background: #ed1c24;
      position: absolute;
      bottom: 0;
      left: 0; }
  .search-form__category:first-child {
    padding-top: 0;
    padding-bottom: 20px; }
  .search-form__category:last-child {
    padding-bottom: 0; }
    .search-form__category:last-child::before {
      display: none; }
  .search-form__link-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .search-form__input-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .search-form__text-input {
    margin-right: auto;
    padding: 5px 15px;
    outline: none;
    width: 45%;
    border: none;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 14px; }
  .search-form__text-input:last-child {
    margin-right: 0; }
  .search-form__text-input:-ms-input-placeholder {
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 14px; }
  .search-form__text-input::placeholder {
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 14px; }
  .search-form .select-wrapper input.select-dropdown {
    background: #ffffff;
    width: 100%; }
  .search-form__link {
    font-size: 14px;
    color: #000000; }
    .search-form__link:hover {
      color: #202020; }

@media (max-width: 1400px) {
  .main-header__navbar-right {
    padding: 0 40px !important; }
  .main-header__content-layer {
    margin-right: -300px; } }
@media (max-width: 1199px) {
  .main-header__navbar-left {
    padding-left: 20px;
    width: 20%; }
  .main-header__navbar-right {
    padding: 0 20px !important;
    width: 80%; }
  .main-header__slide-img {
    width: 80%; }
  .main-header__slide-header {
    width: 20%; }
  .main-header__content-layer {
    padding-left: 20px;
    margin-right: -350px; }
  .main-header .carousel-control-prev {
    left: 31px; }
  .main-header .carousel-control-next {
    left: 95px; }

  .tiles__cell-small {
    height: 210px; }
  .tiles__cell-big {
    height: 480px; }

  .main-footer__data-col {
    padding: 0;
    width: 40%; }

  .shop-header .nav-link {
    font-size: 11px; }
  .shop-header__separator {
    margin: 0 3px; }
  .shop-header__slide-img {
    width: 55%; }
  .shop-header .carousel-control-prev {
    right: 22%; }

  .tiles-second .standard-title {
    font-size: 33px; }
  .tiles-second__cell {
    padding: 20px; }
  .tiles-second__cell--title-cell {
    padding: 0; }

  .product-cell {
    width: 31.33%; }

  .realization-cell {
    height: 293px; } }
@media (max-width: 991px) {
  .main-header .navbar {
    height: unset;
    -ms-flex-align: start;
        align-items: flex-start; }
  .main-header__navbar-left {
    padding: 0 10px 0 20px;
    min-height: 86px; }
  .main-header__slide-header {
    padding-top: 88px; }
  .main-header .collapse {
    padding: 10px; }
  .main-header__navbar-right {
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
    text-align: center;
    min-height: 86px; }
  .main-header__btn-box {
    margin: 0;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
  .main-header__separator {
    display: none; }
  .main-header__link-btn {
    margin: 10px 0 0 0; }
  .main-header .navbar-nav {
    margin: 0; }

  .standard-one__img {
    display: block;
    margin: 0 auto; }
  .standard-one__col-left {
    padding-right: 15px; }

  .tiles__cell-big--bottom {
    margin-bottom: 2%; }
  .tiles__cell-small {
    height: 241px; }

  .tiles-second .col-lg-3:first-child {
    -ms-flex-order: 1;
        order: 1; }
  .tiles-second .col-lg-3:last-child {
    -ms-flex-order: 2;
        order: 2; }
  .tiles-second .col-lg-6 {
    -ms-flex-order: 3;
        order: 3;
    margin-top: 30px; }

  .product-cell {
    width: 48%; }

  .shop-header__btn-box {
    top: -50px; }
  .shop-header__slide-img {
    width: 47%; }
  .shop-header__navbar-container {
    -ms-flex-pack: start;
        justify-content: flex-start; }
  .shop-header .navbar {
    height: auto;
    margin-top: 50px; }
  .shop-header__separator {
    display: none; }
  .shop-header__separator--login-links {
    display: inline; }
  .shop-header .nav-link {
    text-align: center; }
  .shop-header .carousel-control-prev {
    right: 218.016px; }
  .shop-header .carousel-control-next {
    right: 158.547px; } }
@media (max-width: 767px) {
  .main-footer__row {
    -ms-flex-direction: column;
        flex-direction: column; }
  .main-footer__data-col {
    width: 100%;
    text-align: center;
    padding: 0 !important; }
  .main-footer__data-col:first-child {
    margin-bottom: 20px; }

  .main-footer__container {
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center; }

  .shop-header__title-box {
    width: 50%; }
  .shop-header__title {
    font-size: 30px; }
  .shop-header__slide-img {
    width: 50%; }
  .shop-header__carousel-box {
    height: 384px; }

  .benefits__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center; }
  .benefits__col {
    width: 33.33%; }

  .realizations__title {
    font-size: 60px;
    margin-bottom: -14px; }

  .tiles-second {
    padding: 0; }
    .tiles-second__cell--title-cell {
      height: auto; }
    .tiles-second__cell {
      margin: 0;
      margin-bottom: 15px;
      background-position: center; }
    .tiles-second__cell--big {
      height: 350px; }
    .tiles-second .col-lg-6,
    .tiles-second .col-lg-3 {
      -ms-flex-order: unset;
          order: unset; }

  .news__more-btn {
    width: 100%; } }
@media (max-width: 575px) {
  .main-header__title {
    font-size: 30px; }
  .main-header__paragraph {
    font-size: 12px; }
  .main-header__slide-header {
    width: 0; }
  .main-header__slide-img {
    width: 100%; }
  .main-header__navbar-left {
    display: none; }
  .main-header__navbar-right {
    width: 100%; }

  .tiles__cell-small {
    width: 100%;
    margin: 0 0 2% 0 !important; }
  .tiles__cell-big--bottom {
    margin-top: 0; }

  .standard-title {
    font-size: 32px; }

  .benefits {
    padding-bottom: 0; }

  .tiles-second__title--big {
    font-size: 30px;
    width: 100%; }
  .tiles-second__text--big {
    width: 100%; }

  .benefits__col {
    width: 100%; }

  .product-cell {
    width: 100%; }

  .realizations {
    padding-bottom: 0; }
    .realizations__title {
      font-size: 50px; }

  .shop-header .carousel-control-prev {
    right: 120px; }
  .shop-header .carousel-control-next {
    right: 60px; }
  .shop-header__title {
    font-size: 25px; }
  .shop-header .navbar {
    margin-top: 81px; }
  .shop-header__btn-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    left: 0;
    right: 0;
    text-align: center;
    top: -81px; }
  .shop-header__login-box {
    margin: 0 0 5px 0;
    width: 100%; }
  .shop-header__cart-box {
    margin: 0 1% 0 0;
    width: 49%; }
  .shop-header__lang-box {
    width: 49%;
    margin: 0 0 0 1%; }
  .shop-header__lang-dropdown {
    width: 100%; }
  .shop-header__title--second {
    margin-bottom: 20px; }
  .shop-header__text {
    margin-bottom: 20px;
    font-size: 12px; } }
@media (min-width: 576px) {
  .container {
    max-width: 576px; } }
@media (min-width: 768px) {
  .container {
    max-width: 768px; } }
@media (min-width: 992px) {
  .container {
    max-width: 950px; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }
@media (min-width: 1400px) {
  .container {
    max-width: 1400px; } }
@media (max-width: 1199px) {
  .home__logo-frame {
    top: 10%; } }
@media (max-width: 991px) {
  .home {
    height: auto; }
    .home__row {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      height: auto; }
    .home__col {
      height: 480px;
      width: 160%;
      margin: 0;
      margin-left: -15%;
      margin-right: -15%; }
    .home__logo-frame {
      display: none; }
    .home__background {
      margin: 0;
      right: -26%;
      left: -23%;
      bottom: -23%;
      top: -22%; }
    .home__background--left {
      background-image: url("../img/mobile1.png");
      bottom: -28%; }
    .home__background--middle {
      background-image: url("../img/mobile2.png");
      bottom: -28%;
      top: -28%; }
    .home__background--right {
      background-image: url("../img/mobile3.png"); }
    .home__col--left {
      margin-top: -14%; }
    .home__col--right {
      margin-bottom: -5%; }
    .home__link-box {
      width: 100%;
      position: static;
      text-align: center; } }
@media (max-width: 767px) {
  .home__title {
    font-size: 30px;
    margin-bottom: 10px; }
  .home__col {
    text-align: center; } }
@media (max-width: 575px) {
  .home__text {
    font-size: 12px; }
  .home__col {
    margin-left: -26%;
    margin-right: -26%; }

  .main-header .navbar-brand--mobile {
    display: block; }
  .main-header .carousel-control-prev,
  .main-header .carousel-control-next {
    background: #ffffff73; } }

/*# sourceMappingURL=style.prefixed.css.map */