$secondColor: #ed1c24;

.main-header {
    .navbar .navbar-toggler {
        z-index: 1000000000;
        color: #fff;
        margin: 25px 0;
    }

    .navbar-brand {
        margin: 10px 0;
    }

    .navbar-brand--mobile {
        margin-right: auto;
        display: none;
    }

    &__close-menu-area {
        display: none;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: -1000px;
        left: 0;
        right: 0;
    }

    .navbar {
        height: 130px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        box-shadow: none;
        background-color: transparent;
        z-index: 100000;
        padding: 0;
    }

    &__navbar-left {
        width: 30%;
        height: 100%;
        padding-left: 100px;
        display: flex;
        align-items: center;
    }

    &__navbar-right {
        width: 70%;
        background-color: #0000007e;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 100px;
        padding-right: 100px;
        position: relative;
        z-index: 3;
    }

    &__logo {
        max-width: 100%;
        height: auto;
    }

    .carousel {
        height: 560px;
    }

    .carousel-inner {
        height: 100%;
    }

    .carousel-item {
        height: 100%;
    }

    .carousel-item.active {
        display: flex;
    }

    .carousel-item-left,
    .carousel-item-next,
    .carousel-item-right {
        display: flex;
    }

    .nav-link {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 14px;
    }

    .navbar-nav {
        margin-right: 50px;
    }

    .collapse {
        justify-content: space-around;
    }

    &__slide-header {
        display: flex;
        padding-top: 130px;
        align-items: flex-start;
        width: 30%;
    }

    &__content-box {
        position: relative;
        z-index: 1001;
        background: $secondColor;
    }

    &__content-layer {
        margin-right: -234px;
        padding: 50px 15px 50px 100px;
        background: #ed1c23b9;
    }

    &__slide-img {
        width: 70%;
        background-size: cover;
        background-repeat: no-repeat;

    }

    &__separator {
        color: $secondColor;
        margin: 0 15px;
        display: flex;
        align-items: center;
    }

    &__dropdown-box {
        position: relative;
    }

    &__lang-btn {
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;

        &::after {
            display: none;
        }

        &:hover .main-header__lang-btn-part {
            background-color: #00000081;
        }
    }

    &__lang-btn-part {
        height: 46px;
        width: 46px;
        background: $secondColor;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-transform: uppercase;
        border: 1px solid $secondColor;
        transition: 0.5s;

    }

    &__caret {
        background: url('../img/dropdown-arrow.png') no-repeat center;
        background-size: cover;
        width: 12px;
        height: 6px;
        display: block;
        margin-left: 11px;
    }

    .dropdown-menu {
        left: 0px;
        min-width: unset;
        width: 46px;
        padding: 0;
        border: none;
        border-radius: 0;
        background: transparent;
    }

    .dropdown-menu .dropdown-item {
        height: 46px;
        color: #ffffff;
        text-transform: uppercase;
        padding: 0;
        display: flex;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        border: 1px solid $secondColor;
        background: $secondColor;

        &:hover {
            background-color: #f0484e;

        }
    }

    &__link-btn {
        width: 162px;
        height: 46px;
        background: $secondColor;
        color: #ffffff;
        display: flex;
        text-transform: uppercase;
        align-items: center;
        justify-content: center;
        margin-left: 40px;
        border: 1px solid $secondColor;
        transition: 0.5s;

        &:hover {
            background-color: #00000081;
            color: #ffffff;
        }
    }

    &__btn-box {
        display: flex;
        margin-left: auto;
    }

    &__down-arrow {
        position: absolute;
        right: 0;
        top: 50%;
        width: 12px;
        height: 6px;
        background: url('../img/dropdown-arrow.png') no-repeat center;
        transform: translateY(-50%);
    }

    &__title {
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }

    &__title--dark {
        color: #000000;
    }

    &__title--light {
        color: #ffffff;
    }

    &__paragraph {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
    }

    .carousel-control-prev,
    .carousel-control-next {
        border: 1px solid #000000;
        height: 44px;
        width: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 45px;
        opacity: 1;
        background: #fff;
    }

    &__slider-arrow--left {
        transform: rotate(-180deg);
    }

    .carousel-control-prev {
        top: unset;
        left: 190px;
        right: unset;
    }

    .carousel-control-next {
        top: unset;
        left: 250px;
        right: unset;
    }

}

.standard-one {
    margin: 50px 0;

    &__img {
        max-width: 100%;
        height: auto;
    }

    &__col-right {
        display: flex;
        align-items: center;
        padding-left: 40px;
        background: url('../img/watermark.png') no-repeat center;
        background-size: contain;
    }

    &__col-left {
        padding-right: 40px;
    }

}

.tiles {
    &__col {
        display: flex;
        flex-wrap: wrap;
    }

    &__cell-small {
        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 241px;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }

    &__cell-small--top:nth-child(2) {
        margin-left: 1%;
    }

    &__cell-small--top:nth-child(1) {
        margin-right: 1%;
    }

    &__cell-small--bottom:nth-child(2) {
        margin-right: 1%;
    }

    &__cell-small--bottom:nth-child(3) {
        margin-left: 1%;
    }

    &__cell-big {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 522px;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }

    &__cell-big--bottom {
        margin-top: 2%;
    }

    &__cell-big--top {
        margin-bottom: 2%;
        position: relative;

        &::before {
            background-color: #ff0000;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            position: absolute;
            content: "";
            opacity: 0.5;
            z-index: 0
        }
    }

    &__date {
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        z-index: 1;

    }

    &__title {
        color: #ffffff;
        font-size: 26px;
        font-weight: 700;
        z-index: 1;
        margin-bottom: 20px;
    }

    &__text {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        width: 60%;
        z-index: 1;
        margin-bottom: 20px;
    }

}