$secondColor: #ed1c24;


body {
    font-family: "Montserrat", sans-serif;
    position: relative;
}

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;


    &__logo-frame {
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        z-index: 1000;
        top: 10%;
    }

    &__logo {
        max-width: 110%;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        height: 100%;
        position: relative;
    }

    &__col {
        height: auto;
        width: 43.33%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(16deg);
        margin-top: -20%;
        margin-bottom: -20%;
        overflow: hidden;

        &:hover .home__link-box {
            transform: matrix(1.06, -0.30, 0.30, 1.06, 0, 0);
        }

        &:hover::before {
            opacity: 0;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: -7px;
            right: -7px;
            display: block;
            background-color: #000000;
            z-index: 1;
            transition: 0.5s;
            opacity: 0.7;
        }

    }

    &__col--left {
        margin-left: -10%;
        z-index: 2;
    }

    &__col--middle {
        width: 33.33%;
        z-index: 1; 
    }

    &__col--right {
        margin-right: -10%;
        z-index: 2; 

    }

    &__background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -7px;
        right: -7px;
        background-position: 100% 50%;
        background-repeat: no-repeat;
        z-index: 0;
        transform: rotate(-16deg);
        background-size: contain;
    }

    &__background--left {
        background-image: url('../img/e-sklep-background.png');
        right: -23%;

    }

    &__background--middle {
        background-image: url('../img/o-firmie-background.png'); 
        right: -28%;
        left: -23%;
    }

    &__background--right {
        background-image: url('../img/b2b-background.png');
        left: -23%;
        background-position: 130% 0%;
        right: -100px;  
    }

    &__title {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 35px;
        margin-bottom: 24px;
        text-align: center;
    }

    &__link-box {
        position: absolute;
        z-index: 1;
        transition: 0.5s;
        transform: matrix(0.96, -0.28, 0.28, 0.96, 0, 0);
    }

    &__link-btn {
        border: 1px solid #ffffff;
        background-color: #00000093;
        display: inline-block;
        text-transform: uppercase;
        transition: 0.5s;
        padding: 13px 30px;
        color: #ffffff;

        &:hover {
            background: $secondColor;
            color: #ffffff;
        }

        &:hover .home__carret {
            color: #fff;
        }
    }

    &__carret {
        color: $secondColor;
        font-size: 13px;
        font-weight: 400;
        margin-left: 7px;
        transition: 0.5s;
    }

    &__bottom-bar {
        background: #000000;
        padding: 30px 0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 1000;
    }

    &__sociallink-box {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
 
    &__social-link {
        background: #ffffff;
        margin: 0 9px;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        position: relative;
        color: #000000;
        transition: 0.5s;

        &:hover {
            color: #000000;
            transform: scale(1.2);
        }
    }

    &__text {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
    }
}