$secondColor: #ed1c24;


body {
    font-family: "Montserrat", sans-serif;
    position: relative;
}

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;


    &__logo-frame {
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        z-index: 1000;
        top: 10%;
    }

    &__logo {
        max-width: 110%;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        height: 100%;
        position: relative;
    }

    &__col {
        height: auto;
        width: 43.33%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(16deg);
        margin-top: -20%;
        margin-bottom: -20%;
        overflow: hidden;

        &:hover .home__link-box {
            transform: matrix(1.06, -0.30, 0.30, 1.06, 0, 0);
        }

        &:hover::before {
            opacity: 0;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: -7px;
            right: -7px;
            display: block;
            background-color: #000000;
            z-index: 1;
            transition: 0.5s;
            opacity: 0.7;
        }

    }

    &__col--left {
        margin-left: -10%;
        z-index: 2;
    }

    &__col--middle {
        width: 33.33%;
        z-index: 1;
    }

    &__col--right {
        margin-right: -10%;
        z-index: 2;

    }

    &__background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -7px;
        right: -7px;
        background-position: 100% 50%;
        background-repeat: no-repeat;
        z-index: 0;
        transform: rotate(-16deg);
        background-size: contain;
    }

    &__background--left {
        background-image: url('../img/e-sklep-background.png');
        right: -23%;

    }

    &__background--middle {
        background-image: url('../img/o-firmie-background.png');
        right: -28%;
        left: -23%;
    }

    &__background--right {
        background-image: url('../img/b2b-background.png');
        left: -23%;
        background-position: 130% 0%;
        right: -100px;
    }

    &__title {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 35px;
        margin-bottom: 24px;
        text-align: center;
    }

    &__link-box {
        position: absolute;
        z-index: 1;
        transition: 0.5s;
        transform: matrix(0.96, -0.28, 0.28, 0.96, 0, 0);
    }

    &__link-btn {
        border: 1px solid #ffffff;
        background-color: #00000093;
        display: inline-block;
        text-transform: uppercase;
        transition: 0.5s;
        padding: 13px 30px;
        color: #ffffff;

        &:hover {
            background: $secondColor;
            color: #ffffff;
        }

        &:hover .home__carret {
            color: #fff;
        }
    }

    &__carret {
        color: $secondColor;
        font-size: 13px;
        font-weight: 400;
        margin-left: 7px;
        transition: 0.5s;
    }

    &__bottom-bar {
        background: #000000;
        padding: 30px 0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 1000;
    }

    &__sociallink-box {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__social-link {
        background: #ffffff;
        margin: 0 9px;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        position: relative;
        color: #000000;
        transition: 0.5s;

        &:hover {
            color: #000000;
            transform: scale(1.2);
        }
    }

    &__text {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
    }
}


.main-header {
    .navbar .navbar-toggler {
        z-index: 1000000000;
        color: #fff;
        margin: 25px 0;
    }

    .navbar-brand {
        margin: 10px 0;
    }

    .navbar-brand--mobile {
        margin-right: auto;
        display: none;
    }

    &__close-menu-area {
        display: none;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: -1000px;
        left: 0;
        right: 0;
    }

    .navbar {
        height: 130px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        box-shadow: none;
        background-color: transparent;
        z-index: 100000;
        padding: 0;
    }

    &__navbar-left {
        width: 30%;
        height: 100%;
        padding-left: 100px;
        display: flex;
        align-items: center;
    }

    &__navbar-right {
        width: 70%;
        background-color: #0000007e;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 100px;
        padding-right: 100px;
        position: relative;
        z-index: 3;
    }

    &__logo {
        max-width: 100%;
        height: auto;
    }

    .carousel {
        height: 560px;
    }

    .carousel-inner {
        height: 100%;
    }

    .carousel-item {
        height: 100%;
    }

    .carousel-item.active {
        display: flex;
    }

    .carousel-item-left,
    .carousel-item-next,
    .carousel-item-right {
        display: flex;
    }

    .nav-link {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 14px;
    }

    .navbar-nav {
        margin-right: 50px;
    }

    .collapse {
        justify-content: space-around;
    }

    &__slide-header {
        display: flex;
        padding-top: 130px;
        align-items: flex-start;
        width: 30%;
    }

    &__content-box {
        position: relative;
        z-index: 1001;
        background: $secondColor;
    }

    &__content-layer {
        margin-right: -234px;
        padding: 50px 15px 50px 100px;
        background: #ed1c23b9;
    }

    &__slide-img {
        width: 70%;
        background-size: cover;
        background-repeat: no-repeat;

    }

    &__separator {
        color: $secondColor;
        margin: 0 15px;
        display: flex;
        align-items: center;
    }

    &__dropdown-box {
        position: relative;
    }

    &__lang-btn {
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;

        &::after {
            display: none;
        }

        &:hover .main-header__lang-btn-part {
            background-color: #00000081;
        }
    }

    &__lang-btn-part {
        height: 46px;
        width: 46px;
        background: $secondColor;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-transform: uppercase;
        border: 1px solid $secondColor;
        transition: 0.5s;

    }

    &__caret {
        background: url('../img/dropdown-arrow.png') no-repeat center;
        background-size: cover;
        width: 12px;
        height: 6px;
        display: block;
        margin-left: 11px;
    }

    .dropdown-menu {
        left: 0px;
        min-width: unset;
        width: 46px;
        padding: 0;
        border: none;
        border-radius: 0;
        background: transparent;
    }

    .dropdown-menu .dropdown-item {
        height: 46px;
        color: #ffffff;
        text-transform: uppercase;
        padding: 0;
        display: flex;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        border: 1px solid $secondColor;
        background: $secondColor;

        &:hover {
            background-color: #f0484e;

        }
    }

    &__link-btn {
        width: 162px;
        height: 46px;
        background: $secondColor;
        color: #ffffff;
        display: flex;
        text-transform: uppercase;
        align-items: center;
        justify-content: center;
        margin-left: 40px;
        border: 1px solid $secondColor;
        transition: 0.5s;

        &:hover {
            background-color: #00000081;
            color: #ffffff;
        }
    }

    &__btn-box {
        display: flex;
        margin-left: auto;
    }

    &__down-arrow {
        position: absolute;
        right: 0;
        top: 50%;
        width: 12px;
        height: 6px;
        background: url('../img/dropdown-arrow.png') no-repeat center;
        transform: translateY(-50%);
    }

    &__title {
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }

    &__title--dark {
        color: #000000;
    }

    &__title--light {
        color: #ffffff;
    }

    &__paragraph {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
    }

    .carousel-control-prev,
    .carousel-control-next {
        border: 1px solid #000000;
        height: 44px;
        width: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 45px;
        opacity: 1;
        background: #fff;
    }

    &__slider-arrow--left {
        transform: rotate(-180deg);
    }

    .carousel-control-prev {
        top: unset;
        left: 190px;
        right: unset;
    }

    .carousel-control-next {
        top: unset;
        left: 250px;
        right: unset;
    }

}

.standard-link-btn {
    width: 140px;
    height: 44px;
    border: 1px solid #ffffff;
    background: #00000093;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    z-index: 1;

    &__arrow {
        color: $secondColor;
        margin-left: 7px;
        transition: 0.5s;
    }

    &:hover {
        color: #ffffff;
        background: $secondColor;
    }

    &:hover .standard-link-btn__arrow {
        color: #ffffff;
    }
}

.standard-link-btn--slider {
    background: transparent;

    .standard-link-btn__arrow {
        color: #000000;
    }

    &:hover {
        background: #00000093;
    }

    &:hover .standard-link-btn__arrow {
        color: $secondColor;
    }
}

.standard-one {
    margin: 50px 0;

    &__img {
        max-width: 100%;
        height: auto;
    }

    &__col-right {
        display: flex;
        align-items: center;
        padding-left: 40px;
        background: url('../img/watermark.png') no-repeat center;
        background-size: contain;
    }

    &__col-left {
        padding-right: 40px;
    }

}

.title-and-text {
    &__title {
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 30px;

        &::before {
            width: 11px;
            height: 41px;
            background: $secondColor;
            content: "";
            display: inline-block;
            margin-right: 12px;
        }
    }

    &__text {
        color: #000000;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
}

.standard-title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;

    &::before {
        width: 11px;
        height: 41px;
        background: $secondColor;
        content: "";
        display: inline-block;
        margin-right: 12px;
    }
}

.standard-title--tiles {
    text-align: center;
    margin-bottom: 50px;
}

.standard-title--listing {
    margin: 0;
}

.tiles {
    &__col {
        display: flex;
        flex-wrap: wrap;
    }

    &__cell-small {
        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 241px;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }

    &__cell-small--top:nth-child(2) {
        margin-left: 1%;
    }

    &__cell-small--top:nth-child(1) {
        margin-right: 1%;
    }

    &__cell-small--bottom:nth-child(2) {
        margin-right: 1%;
    }

    &__cell-small--bottom:nth-child(3) {
        margin-left: 1%;
    }

    &__cell-big {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 522px;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }

    &__cell-big--bottom {
        margin-top: 2%;
    }

    &__cell-big--top {
        margin-bottom: 2%;
        position: relative;

        &::before {
            background-color: #ff0000;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            position: absolute;
            content: "";
            opacity: 0.5;
            z-index: 0
        }
    }

    &__date {
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        z-index: 1;

    }

    &__title {
        color: #ffffff;
        font-size: 26px;
        font-weight: 700;
        z-index: 1;
        margin-bottom: 20px;
    }

    &__text {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        width: 60%;
        z-index: 1;
        margin-bottom: 20px;
    }

}

.main-footer {
    font-family: "Roboto", sans-serif;
    margin-top: 50px;
    font-weight: 400;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }



    &__data-col {
        width: 35%;
    }

    &__img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    &__data-col:last-child {
        padding-right: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__company-name {
        font-weight: 700;
    }

    &__links {
        display: flex;
        flex-direction: column;

    }

    &__data-name {
        color: $secondColor;
        font-weight: 700;
    }

    &__social-box {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
    }

    &__social-link {
        width: 29px;
        height: 29px;
        background: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #ffffff;
        border: 1.5px solid #000;

        &:hover {
            color: #000000;
            background: transparent;
        }
    }

    &__links-box {
        text-align: center;
    }

    &__link {
        color: #000000;

        &:hover {
            color: $secondColor;
        }
    }

    &__copyright-bar {
        background-color: #000000;
        margin-top: 40px;
        padding: 40px 0;
    }

    &__copyrights-text {
        color: #838383;
    }

    &__separator {
        color: $secondColor;
        margin: 0 5px;
    }

    &__bold {
        font-weight: 700;
        color: #ffffff;
    }

    &__author-link {
        font-weight: 700;
        color: #ffffff;
        transition: 0.3s;

        &:hover {
            color: $secondColor;
        }
    }

}

.shop-header {

    &__close-area {
        display: none;
        position: absolute;
        z-index: 2;
        top: -100px;
        bottom: -1000px;
        left: 0;
        right: 0;

    }

    &__btn-box {
        position: absolute;
        top: 0;
        right: 23px;
        display: flex;
    }

    &__cart-box {
        padding: 7px 10px;
        background: $secondColor;
        color: #fff;
        margin-right: 14px;
    }

    &__icon {
        margin-right: 10px;
    }

    &__lang-box {
        position: relative;
    }

    &__lang-dropdown {
        padding: 7px 10px;
        border: none;
        background-color: #efefef;
        text-transform: uppercase;
        font-size: 12px;
        color: #000;
        line-height: 24px;
        font-weight: 400;

        &:hover {
            color: #080808;
        }

        &::after {
            display: none;
        }
    }

    &__top-link {
        text-transform: uppercase;
        font-size: 12px;
        color: #000000;
        font-weight: 400;

        &:hover {
            color: #080808;
        }
    }

    &__cart-link {
        color: #ffffff;
        font-size: 12px;

    }

    &__login-box {
        background-color: #efefef;
        padding: 7px 10px;
        margin-right: 14px;
    }

    .navbar {
        box-shadow: none;
        height: 90px;
        padding-top: 0px;
        padding-bottom: 0;
        position: relative;
        z-index: 3;
    }

    &__navbar-container {
        position: relative;
        height: 100%;
        align-items: flex-end !important;
    }


    .navbar-nav {
        margin-left: auto;
    }

    .nav-link {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
        color: #000000;

        &:hover {
            color: #080808;
        }
    }

    &__separator {
        color: $secondColor;
        margin: 0 8px;
        padding: 8px 0;
        font-size: 12px;
    }

    &__carousel-box {
        height: 432px;
        position: relative;
        margin-top: 20px;

        &::before {
            content: "";
            display: block;
            bottom: 0;
            left: 0;
            width: 60%;
            height: 20px;
            background: $secondColor;
            opacity: 0.7;
            position: absolute;
            z-index: 100;
        }
    }

    .carousel,
    .carousel-inner {
        height: 100%;
    }

    .carousel-item {
        height: 100%;
        display: flex;
        align-items: center;
        background-position: 130% 50%;
        background-repeat: no-repeat;
        position: relative;
    }

    &__title-box {
        width: 400px;
    }

    &__title {
        color: #000000;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 40px;
        margin: 0;
    }

    &__title--second {
        color: $secondColor;
        margin-bottom: 40px;
    }

    &__text {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        margin-bottom: 40px;
    }

    &__slider-link {
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        color: $secondColor;
        display: inline-block;
        border: 1px solid $secondColor;
        padding: 10px 20px;

        &:hover {
            background: $secondColor;
            color: #fff;
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 42px;
        height: 44px;
        background-color: #000000;
        opacity: 0.8;
        bottom: 25px;
        top: unset;
        left: unset;
    }

    .carousel-control-prev {
        right: 20%;
    }

    .carousel-control-next {
        transform: rotate(180deg);
        right: 16%;
    }

    &__slide-img {
        position: absolute;
        height: 100%;
        right: 0;
        width: 60%;
        top: 0;
        background-size: cover;
        background-repeat: no-repeat;
    }

}

.benefits {
    padding: 80px 0;

    &__row {
        display: flex;
    }

    &__icon {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    &__icon-frame {
        height: 100px;
        display: flex;
        align-items: flex-end;
    }

    &__col {
        width: 18%;
        text-align: center;
        margin: 0 1%;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        margin-top: 40px;
    }

    &__text {
        font-weight: 400;
        font-size: 11px;
    }


}


.tiles-second {
    padding: 40px 0;

    &__cell {
        padding: 25px;
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: 0.5s;

        &:hover {
            transform: scale(1.03);
        }
    }

    &__cell--top-small {
        height: 200px;
        margin-bottom: 30px;
    }

    &__cell--title-cell {
        height: 200px;
        margin-bottom: 30px;
        display: block;
        padding: 0;

        &:hover {
            transform: unset;
        }
    }

    &__cell--big {
        height: 450px;
    }

    &__cell--big-middle {
        height: 450px;
        display: block;
        background-position: center;
    }

    &__cell--bottom-small {
        height: 200px;
        margin-top: 30px;
        background: $secondColor;
        display: flex;
        justify-content: space-between;
        padding: 30px;

    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }

    &__title--center {
        text-align: center;
    }

    &__text {
        margin: 0;
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
    }

    &__title--big {
        font-size: 39px;
        font-weight: 700;
        color: $secondColor;
        width: 57%;
    }

    &__text--big {
        color: #000000;
        font-size: 23px;
        width: 57%;
    }

    &__link {
        border: 1px solid #ffffff;
        color: #ffffff;
        text-transform: uppercase;
        display: flex;
        width: 140px;
        height: 44px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        transition: 0.5s;

        &:hover {
            background: #ffffff;
            color: $secondColor;
        }
    }

}

.news {
    padding: 40px 0;

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__more-btn {
        width: 573px;
        height: 44px;
        border: 1px solid #ed1c24;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $secondColor;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 400;
        transition: 0.5s;
        margin: 40px auto 0 auto;

        &:hover {
            background: $secondColor;
            color: #fff;
        }
    }
}

.product-cell {
    width: 23%;
    margin: 1%;
    transition: 0.5s;

    &:hover {
        transform: scale(1.02);
    }

    &__img {
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
    }

    &__desc-box {
        padding: 20px;
    }

    &__title {
        color: $secondColor;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;

        &:hover {
            color: $secondColor;
        }
    }

    &__text {
        color: #000000;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        height: 40px;
        margin-bottom: 10px;
    }

    &__bottom-bar {
        display: flex;
        justify-content: space-between;
    }

    &__price-box {
        display: flex;
        font-family: "Roboto", sans-serif;
    }

    &__price {
        color: $secondColor;
        font-weight: 400;
    }

    &__main-value {
        font-size: 36px;
    }

    &__fraction {
        font-size: 24px;
    }

    &__currency {
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        line-height: 1;
        display: flex;
        align-items: center;
        margin-left: 7px;
    }

    &__btn-box {}

    &__icon {
        width: 17px;
        height: 17px;
        transition: 0.2s;
    }

    &__icon--search {
        filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(87deg) brightness(106%) contrast(104%);
    }

    &__icon--add {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(68deg) brightness(102%) contrast(104%);
    }

    &__btn {
        width: 49px;
        height: 44px;
        border: none;
        transition: 0.4s;
    }

    &__btn--search {
        margin-right: 6px;
        background-color: #efefef;

        &:hover {
            background: $secondColor;
        }

        &:hover .product-cell__icon--search {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(68deg) brightness(102%) contrast(104%);
        }
    }

    &__btn--add {
        background-color: $secondColor;
        border: 1.5px solid $secondColor;

        &:hover .product-cell__icon--add {
            filter: invert(13%) sepia(99%) saturate(5163%) hue-rotate(353deg) brightness(99%) contrast(88%);
            transform: rotate(360deg);
        }

        &:hover {
            background: transparent;
        }
    }

    &__hidden-price-info {
        color: #c0c0c0;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
}

.realizations {
    padding: 40px 0;

    &__title {
        font-size: 134px;
        font-style: italic;
        color: $secondColor;
        margin-bottom: - 38px;
        font-weight: 400;
    }

    .owl-nav {
        position: relative;

    }

    .owl-carousel .owl-nav .owl-next,
    .owl-carousel .owl-nav .owl-prev {
        width: 42px;
        height: 44px;
        background-color: #000000;
        opacity: 0.7;
        margin-top: -100px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .owl-prev {
        left: 0;
        position: absolute;
        background-image: url('../img/carousel-arrow.png') !important;
    }

    .owl-next {
        right: 0;
        position: absolute;
        background-image: url('../img/carousel-arrow-right.png') !important;
    }
}

.realization-cell {
    position: relative;
    height: 360px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__layer {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        background: #0000007c;
        position: absolute;
        transition: 0.5s;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        &:hover {
            opacity: 1;
        }
    }

    &__title {
        color: #ffffff;
        font-size: 26px;
        font-weight: 700;
        position: relative;
        z-index: 3;
    }

    &__text {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        z-index: 3;
    }

    &__link-btn {
        width: 49px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $secondColor;
        margin: 40px auto 0 auto;
        transition: 0.5s;
        border: 1px solid $secondColor;

        &:hover {
            background: #0000008f;
        }
    }

    &__icon {
        width: 19px !important;
        height: 19px;
    }
}

.listing {
    padding: 50px 0;

    &__sort-bar {
        display: flex;
        margin-bottom: 40px;
    }

    &__select-box {
        display: flex;
        align-items: center;
    }

    &__select-box:first-child {
        margin-right: 20px;
    }

    &__select-container {
        display: flex;
        margin-left: auto;
    }

    .caret {
        display: none;
    }

    .select-wrapper,
    .select-dropdown {
        margin: 0 !important;
    }

    .select-wrapper {
        display: flex;
        align-items: center;

        &::before {
            content: "";
            top: 50%;
            right: 10px;
            width: 12px;
            height: 7px;
            background: url('../img/select-arrow.png') no-repeat center;
            position: absolute;
            z-index: 100;
            transform: translateY(-50%);
        }
    }

    .select-wrapper input.select-dropdown {
        border: none;
        background-color: #efefef;
        padding-left: 10px;
        width: 148px;
        font-size: 14px;
    }

    &__select-desc {
        color: #000000;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    &__pagination-bar {
        display: flex;
        margin-bottom: 40px;
    }

    .pagination {
        margin-left: auto;
    }

    .pagination .active {
        background: transparent;
        border-color: $secondColor;

        .page-link {
            background: transparent !important;
            color: $secondColor;
        }
    }

    .page-item {
        font-weight: 400;
        font-family: "Roboto", sans-serif;
        color: #000 !important;
        display: flex;
        margin: 0 5px;
        border: 1px solid transparent;
    }

    .page-link {
        padding: 0;
        width: 23px;
        height: 23px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page-item:first-child {
        width: auto;
        height: auto;

        .page-link {
            height: auto;
            width: auto;
            padding: 0 10px;
        }
    }



    .page-item:last-child {
        width: auto;
        height: auto;

        .page-link {
            height: auto;
            width: auto;
            padding: 0 10px;
        }
    }

    &__results {
        display: flex;
        align-items: center;
        color: #000000;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        margin-left: 50px;
    }

    &__render-area {
        display: flex;
        flex-wrap: wrap;
    }

    .product-cell {
        width: 31.33%;
    }

}


.search-form {
    padding: 30px 0;
    background-color: #efefef;
    font-family: "Roboto", sans-serif;

    &__title {
        color: #ed1c24;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__search-input {
        padding: 4px 15px;
        border: none;
        outline: none;
        width: 100%;
        font-size: 11px;
    }

    &__search-input::placeholder {
        font-family: "Roboto", sans-serif;
        font-size: 11px;
        color: #898989;
        font-weight: 400;
    }

    &__category {
        padding: 10px 30px 15px 30px;
        position: relative;

        &::before {
            content: "";
            width: 61px;
            height: 2px;
            display: block;
            background: $secondColor;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &__category:first-child {
        padding-top: 0;
        padding-bottom: 20px;
    }

    &__category:last-child {
        padding-bottom: 0;

        &::before {
            display: none;
        }
    }

    &__link-box {
        display: flex;
        flex-direction: column;

    }

    &__input-box {
        display: flex;
        justify-content: space-between;
    }

    &__text-input {
        margin-right: auto;
        padding: 5px 15px;
        outline: none;
        width: 45%;
        border: none;
        color: #000000;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
    }

    &__text-input:last-child {
        margin-right: 0;
    }

    &__text-input::placeholder {
        color: #000000;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
    }

    .select-wrapper input.select-dropdown {
        background: #ffffff;
        width: 100%;
    }

    &__link {
        font-size: 14px;
        color: #000000;

        &:hover {
            color: rgb(32, 32, 32);
        }
    }


}


//MEDIA QUERIES

@media (max-width: 1400px) {
    .main-header {
        &__navbar-right {
            padding: 0 40px !important;
        }

        &__content-layer {
            margin-right: -300px;
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {


    .main-header {
        &__navbar-left {
            padding-left: 20px;
            width: 20%;
        }

        &__navbar-right {
            padding: 0 20px !important;
            width: 80%;
        }

        &__slide-img {
            width: 80%;
        }

        &__slide-header {
            width: 20%;
        }

        &__content-layer {
            padding-left: 20px;
            margin-right: -350px;
        }

        .carousel-control-prev {
            left: 31px;
        }

        .carousel-control-next {
            left: 95px;
        }

    }

    .tiles {
        &__cell-small {
            height: 210px;
        }

        &__cell-big {
            height: 480px;
        }
    }

    .main-footer {
        &__data-col {
            padding: 0;
            width: 40%;
        }
    }

    .shop-header {
        .nav-link {
            font-size: 11px;
        }

        &__separator {
            margin: 0 3px;
        }

        &__slide-img {
            width: 55%;
        }

        .carousel-control-prev {
            right: 22%;
        }
    }

    .tiles-second {
        .standard-title {
            font-size: 33px;
        }

        &__cell {
            padding: 20px;
        }

        &__cell--title-cell {
            padding: 0;
        }
    }

    .product-cell {
        width: 31.33%;
    }

    .realization-cell {
        height: 293px;
    }

}

// Medium devices (tablets, less than 992px) 
@media (max-width: 991px) {
    .main-header {
        .navbar {
            height: unset;
            align-items: flex-start;
        }

        &__navbar-left {
            padding: 0 10px 0 20px;
            min-height: 86px;
        }

        &__slide-header {
            padding-top: 88px;
        }

        .collapse {
            padding: 10px;
        }

        &__navbar-right {
            justify-content: flex-end;
            flex-wrap: wrap;
            height: 100%;
            text-align: center;
            min-height: 86px;
        }

        &__btn-box {
            margin: 0;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        &__separator {
            display: none;
        }



        &__link-btn {
            margin: 10px 0 0 0;
        }

        .navbar-nav {
            margin: 0;
        }
    }

    .standard-one {
        &__img {
            display: block;
            margin: 0 auto;
        }

        &__col-left {
            padding-right: 15px;
        }

    }

    .tiles {
        &__cell-big--bottom {
            margin-bottom: 2%;
        }

        &__cell-small {
            height: 241px;
        }
    }

    .tiles-second {
        .col-lg-3:first-child {
            order: 1;
        }

        .col-lg-3:last-child {
            order: 2;
        }

        .col-lg-6 {
            order: 3;
            margin-top: 30px;
        }
    }

    .product-cell {
        width: 48%;
    }

    .shop-header {
        &__btn-box {
            top: -50px;
        }

        &__slide-img {
            width: 47%;
        }

        &__navbar-container {
            justify-content: flex-start;
        }

        .navbar {
            height: auto;
            margin-top: 50px;
        }

        &__separator {
            display: none;
        }

        &__separator--login-links {
            display: inline;
        }

        .nav-link {
            text-align: center;
        }

        .carousel-control-prev {
            right: 218.016px;
        }

        .carousel-control-next {
            right: 158.547px;
        }
    }

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
    .main-footer {
        &__row {
            flex-direction: column;
        }

        &__data-col {
            width: 100%;
            text-align: center;
            padding: 0 !important;
        }

        &__data-col:first-child {
            margin-bottom: 20px;
        }
    }

    .main-footer {
        &__container {
            flex-direction: column;
            text-align: center;
        }
    }

    .shop-header {
        &__title-box {
            width: 50%;
        }

        &__title {
            font-size: 30px;
        }

        &__slide-img {
            width: 50%;
        }

        &__carousel-box {
            height: 384px;
        }

    }

    .benefits {
        &__row {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__col {
            width: 33.33%;
        }
    }

    .realizations {
        &__title {
            font-size: 60px;
            margin-bottom: -14px;
        }
    }

    .tiles-second {
        padding: 0;

        &__cell--title-cell {
            height: auto;
        }

        &__cell {
            margin: 0;
            margin-bottom: 15px;
            background-position: center;
        }

        &__cell--big {
            height: 350px;
        }

        .col-lg-6,
        .col-lg-3 {
            order: unset;
        }

    }

    .news {
        &__more-btn {
            width: 100%;
        }
    }
}

// Extra small devices (portrait phones, less than 576px) 
@media (max-width: 575px) {
    .main-header {
        &__title {
            font-size: 30px;
        }

        &__paragraph {
            font-size: 12px; 
        }

        &__slide-header {
            width: 0;
        }

        &__slide-img {
            width: 100%;
        }

        &__navbar-left {
            display: none;
        }

        &__navbar-right {
            width: 100%;
        }
    }

    .tiles {
        &__cell-small {
            width: 100%;
            margin: 0 0 2% 0 !important;
        }

        &__cell-big--bottom {
            margin-top: 0;
        }
    }

    .standard-title {
        font-size: 32px;
    }

    .benefits {
        padding-bottom: 0;
    }

    .tiles-second {
        &__title--big {
            font-size: 30px;
            width: 100%;
        }

        &__text--big {
            width: 100%;
        }
    }

    .benefits {
        &__col {
            width: 100%;
        }
    }

    .product-cell {
        width: 100%;
    }

    .realizations {
        padding-bottom: 0;

        &__title {
            font-size: 50px;
        }
    }

    .shop-header {
        .carousel-control-prev {
            right: 120px;
        }

        .carousel-control-next {
            right: 60px;
        }

        &__title {
            font-size: 25px;
        }

        .navbar {
            margin-top: 81px;
        }

        &__btn-box {
            flex-wrap: wrap;
            left: 0;
            right: 0;
            text-align: center;
            top: -81px;
        }

        &__login-box {
            margin: 0 0 5px 0;
            width: 100%;
        }

        &__cart-box {
            margin: 0 1% 0 0;
            width: 49%;
        }

        &__lang-box {
            width: 49%;
            margin: 0 0 0 1%;
        }

        &__lang-dropdown {
            width: 100%;
        }

        &__title--second {
            margin-bottom: 20px;
        }

        &__text {
            margin-bottom: 20px;
            font-size: 12px;
        }
    }
}






//media queries for container only

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .container {
        max-width: 950px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}


// media for homepage

@media (max-width: 1593px) and (min-height: 950px) {
    .home {
        &__background { 
            background-size: 135%;
            left: -33%; 
            right: -33%;
        }

        &__col--left {
            margin-left: -12%;
            margin-right: -2%;
        }

        &__col--right {
            margin-right: -12%; 
            margin-left: -2%;
        }

        &__col--middle {
            width: 35%;
        }
    }
}

//standard media

@media (max-width: 1400px) {
    .home {
        &__background {
            background-size: 110%;
        }
        &__background--left {
            right: -27%;
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
    .home {
        &__logo-frame {
            top: 10%;
        }

        &__background {
            background-position: center;
            background-size: 120%;
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
    .home {
        height: auto;

        &__row {
            flex-wrap: wrap;
            height: auto;
        }

        &__col {
            height: 480px;
            width: 160%;
            margin: 0;
            margin-left: -15%;
            margin-right: -15%;
        }

        &__logo-frame {
            display: none;
        }

        &__background {
            margin: 0;
            right: -26%;
            left: -23%;
            bottom: -23%;
            background-size: 56%; 
            background-position: center;
            top: -35%; 
        }

        &__background--left {
            background-image: url('../img/mobile1.png');
            bottom: -28%;
        }

        &__background--middle {
            background-image: url('../img/mobile2.png');
            bottom: -28%;
            top: -28%;
        }

        &__background--right {
            background-image: url('../img/mobile3.png');
        }

        &__col--left {
            margin-top: -14%;
        }

        &__col--middle {}

        &__col--right {
            margin-bottom: -5%;
        }

        &__link-box {
            width: 100%;
            position: static;
            text-align: center;
        }




    }

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
    .home {
        &__title {
            font-size: 30px;
            margin-bottom: 10px;
        }

        &__col {
            text-align: center;
        }

        &__background--left {
            bottom: -45%; 
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
    .home {
        &__text {
            font-size: 12px;
        }

        &__col {
            margin-left: -26%;
            margin-right: -26%;
            height: 380px;
        }

        &__background--left {
            bottom: -60%; 
        }
    }

    .main-header {
        .navbar-brand--mobile {
            display: block;
        }

        .carousel-control-prev,
        .carousel-control-next {
            background: #ffffff73;
        }
    }
}

@media (max-width: 400px) {
    .home {
        &__background {
            background-size: 100%;
        }

        &__col {
            height: 360px; 
        }
        &__link-btn {
            padding: 8px 23px; 
        }
        &__title {
            font-size: 23px; 
        }
    }
}